nixpacks:
  app: php
  provider: php
  
php:
  version: 8.2
  
phases:
  setup:
    nixPkgs:
      - php82
      - php82Extensions.pdo
      - php82Extensions.pdo_mysql
      - php82Extensions.mbstring
      - php82Extensions.xml
      - php82Extensions.curl
      - php82Extensions.zip
      - php82Extensions.gd
      - nodejs
  install:
    cmds:
      - composer install --optimize-autoloader --no-dev
  build:
    cmds:
      - php artisan config:cache
      - php artisan route:cache
      - php artisan view:cache
  start:
    cmd: php artisan migrate --force && php artisan storage:link && php -S 0.0.0.0:$PORT -t public
